body {
  background-image: url("https://content.tupaki.com/twdata/2020/0220/news/NTR-30----Release-Fix-1582100562-1424.jpg");
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
